@font-face {
  font-family: "Roboto"; /*Can be any text*/
  src: local("Roboto-Light"),
    url("./fonts/roboto/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Lato"; /*Can be any text*/
  src: local("Lato-Regular"),
    url("./fonts/lato/Lato-Regular.ttf") format("truetype");
}

:root {
  font-family: Lato, Inter, Avenir, Helvetica, Arial, sans-serif;
}
body {
  margin: 0;
}
